[access "refs/*"]
	owner = group user/adkoba (adkoba)
[access "refs/for/refs/*"]
	read = group user/adkoba (adkoba)
	push = group user/adkoba (adkoba)
	label-Code-Review = -2..+2 group user/adkoba (adkoba)
	label-Verified = -1..+1 group user/adkoba (adkoba)
	rebase = group user/adkoba (adkoba)
	removeReviewer = group user/adkoba (adkoba)
	submit = group user/adkoba (adkoba)
[access "refs/heads/*"]
	read = group user/adkoba (adkoba)
	create = group user/adkoba (adkoba)
	push = +force group user/adkoba (adkoba)
	pushMerge = group user/adkoba (adkoba)
[access "refs/tags/*"]
	push = +force group user/adkoba (adkoba)
	pushTag = group user/adkoba (adkoba)
	pushSignedTag = group user/adkoba (adkoba)
